.vs/
TextEditorMVVM/TextEditorMVVM/bin
TextEditorMVVM/TextEditorMVVM/obj
TextEditorMVVM/TextEditorMVVM.Android/bin
TextEditorMVVM/TextEditorMVVM.Android/obj
TextEditorMVVM/TextEditorMVVM.iOS/bin
TextEditorMVVM/TextEditorMVVM.iOS/obj
TextEditorMVVM/TextEditorMVVM.UWP/bin
TextEditorMVVM/TextEditorMVVM.UWP/obj
